<!-- по всем файлам -->
<!-- {{ range .Site.Data.xml}}
{{ . }}
{{ end }} -->

<!-- чтобы пройтись по всем тегам файла -->
{{ range .Site.Data.xml.struct_u_e_1_1_pixel_streaming2_input_1_1_f_pixel_streaming2_input_handler_1_1_f_analog_value}}
<!-- если точка, то любой тег, если название — то теш определенный -->
{{ .compoundname }}
{{ end }}

<!-- чтобы посмотреть структуру одного файла -->
<!-- one file — .Site.Data.xml.struct_u_e_1_1_pixel_streaming2_input_1_1_f_pixel_streaming2_input_handler_1_1_f_analog_value -->

<!-- чтобы посмотреть структура всех файлов -->
<!-- one file — .Site.Data.xml -->